@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Nanum Pen Script', cursive;
    background-color: rgb(37, 45, 73);
    color : rgb(219, 216, 216) ; 
    font-size: larger;
}

blockquote{
    border-left: yellowgreen solid 2px ;
    padding : 10px ; 
    /* font-family:'Courier New', Courier, monospace */
}

p {
    padding: 10px ;
    width : 50%;
}

ul{
    list-style: none;
}

details{
    padding:10px ;
}
a{
    text-decoration: none;
    color : rgb(102, 137, 212) ; 
}

